[Desktop Entry]
Name=OneDark
Comment=Kde aurorae theme - monokai colors
X-KDE-PluginInfo-Author=adhe
X-KDE-PluginInfo-Category=Aurorae theme
X-KDE-PluginInfo-Email=adhemarks[at]gmail[dot]com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=OneDark
X-KDE-PluginInfo-Version=1.0
                                            




                                                                                                                                                                                                                            














